.navbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

a{
    display: flex;
    margin: 15px;
}

a:hover{
    color: #FF00FF;
}

body{
    background-color:blueviolet;
}